body {
  background-color: black;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 20em;
  color: white;
  text-shadow: 0 0 0.04em white;
  letter-spacing: 0.02em;
  margin: 0;
}

.neon{
  font-family: 'Anton', cursive;
  font-size:15em;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
    opacity: .99;
    
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}

h2 {
  font-family: 'Chivo Mono', monospace; /* add Chivo Mono font family */
  color: white; /* set text color to white */
  text-align: center; /* center align text */
  white-space: nowrap;
  overflow: hidden;
}

h2 span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;


}

.marquee {
  color: white;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 80s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
