body {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.04em white;
  letter-spacing: 0.02em;
  margin: 0;
}

.neon{
  font-family: 'Anton', cursive;
  color: white;
  font-size: 20vw;
  width: 95%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 10;
  letter-spacing: 0.01em;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}




.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
    opacity: .99;
    
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}

h2 {
  font-family: 'Chivo Mono', monospace; 
  color: white;
  text-align: center; 
  white-space: nowrap;
  overflow: hidden;
}


.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.links a {
  font-family: 'Chivo Mono', monospace; 
  font-size: 2em;
  color: white;
  text-shadow: 0 0 0.04em white;
  letter-spacing: 0.02em;
  margin: 0 20px;
  text-decoration: none;
}

.links a:hover {
  color: #D42CCA;
  text-shadow: 0 0 0.04em #D42CCA;
}


.track {
  width: 100%;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
